<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <h1>Dashboard</h1>
    {% if 'user_id' in session %}
    <p>Welcome, {{ session['user_first_name'] }}!</p>
    <ul>
      <li><a href="/search_flights">Search Flights</a></li>
      <li><a href="/search_cars">Book a Car</a></li>
      <li><a href="/search_hotels">Book a Hotel</a></li>
      <li><a href="/search_hotel_room">Book a Hotel Room</a></li>
      <li><a href="/user_bookings">My Bookings</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
    {% endif %}
  </body>
</html>
