<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Available Flights</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <h1>Available Flights</h1>
    <ul>
      {% for flight in flights %}
      <li>{{ flight }}</li>
      <form action="/book_flight/{{ flight[0] }}" method="post">
        <button type="submit">Book Flight</button>
      </form>
      {% endfor %}
    </ul>
    <a href="/dashboard">Back to Dashboard</a>
  </body>
</html>
