<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flight Search</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <h1>Search for Flights</h1>

    {% if flights %}
    <h2>Available Flights</h2>
    <ul>
      {% for flight in flights %}
      <li>
        Flight ID: {{ flight[0] }}, Departure City: {{ flight[1] }}, Arrival
        City: {{ flight[2] }},
        <form action="/search_flights" method="post">
          <!-- Change action to "/search_flights" and method to "post" -->
          <input type="hidden" name="flight_id" value="{{ flight[0] }}" />
          <input type="submit" value="Book" />
        </form>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <form action="/search_flights" method="post">
      <!-- Change action to "/search_flights" and method to "post" -->
      <label for="departure-city">Departure City:</label>
      <input
        type="text"
        id="departure-city"
        name="departure_city"
        required
      /><br />
      <label for="arrival-city">Arrival City:</label>
      <input type="text" id="arrival-city" name="arrival_city" required /><br />
      <input type="submit" value="Search Flights" />
    </form>
    {% endif %}
    <a href="/dashboard">Back to Dashboard</a>
  </body>
</html>
