<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Bookings</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <h1>My Bookings</h1>
    <ul>
      <li>Booker ID: {{ bookings[0] }}</li>
      <li>Flight IDs: {{ bookings[1] }}</li>
      <li>Car IDs: {{ bookings[2] }}</li>
      <li>Hotel IDs: {{ bookings[3] }}</li>
      <li>Room IDs: {{ bookings[4] }}</li>
    </ul>
    <a href="/dashboard">Back to Dashboard</a>
  </body>
</html>
